html,body {
	height: 100%;
}

body.my-login-page {
	background-image: url(/img/bg-desktop.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 14px;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	position: left;
	z-index: 1;
}


.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
	position: left;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: left;
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {

	body.my-login-page {
		background-image: url(/img/bg-mobile.jpg);
		font-size: 14px;
	}

	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

@media (min-width: 768px) {
	.justify-content-md-center {
    -ms-flex-pack: center!important;
    justify-content: left!important;
	}
}

@media (max-width: 600px) {
	.justify-content-md-center {
    -ms-flex-pack: center!important;
    justify-content: left!important;
	}
}


.btn-primary {
    color: #fff;
    background-color: #28A745;
    border-color: #28A745;
}